# replace default config

precision: 3
multipass: true
full: true

plugins:

  # - name
  #
  # or:
  # - name: false
  # - name: true
  #
  # or:
  # - name:
  #     param1: 1
  #     param2: 2

  - removeDoctype: true
  - removeXMLProcInst: true
  - removeComments: true
  - removeMetadata: true
  - removeXMLNS: false
  - removeEditorsNSData: true
  - cleanupAttrs: true
  - minifyStyles: true
  - convertStyleToAttrs: true
  - cleanupIDs: true
  - removeRasterImages: true
  - removeUselessDefs: true
  - cleanupNumericValues: true
  - cleanupListOfValues: true
  - convertColors: true
  - removeUnknownsAndDefaults: true
  - removeNonInheritableGroupAttrs: true
  - removeUselessStrokeAndFill: true
  - removeViewBox: true
  - cleanupEnableBackground: true
  - removeHiddenElems: true
  - removeEmptyText: true
  - convertShapeToPath: true
  - moveElemsAttrsToGroup: true
  - moveGroupAttrsToElems: true
  - collapseGroups: true
  - convertPathData:
      removeUseless: false
  - convertTransform: true
  - removeEmptyAttrs: true
  - removeEmptyContainers: true
  - mergePaths: true
  - removeUnusedNS: true
  - transformsWithOnePath: true
  - removeUselessClipPaths: true
  - removeMozUserSelect: true
  - removeRedundant100pcentStyle: true
  - removeExtraXMLNS: true
  - substituteContextFill:
      fill: '#7E7E7E'
  - sortAttrs: true
  - removeTitle: true
  - removeDesc: true
  - removeDimensions: true
  - removeAttrs: true
  - removeElementsByAttr: true
  - addClassesToSVGElement: false
  - removeStyleElement: true
  - removeScriptElement: true
  - addAttributesToSVGElement: false

# configure the indent (default 4 spaces) used by `--pretty` here:
#
# @see https://github.com/svg/svgo/blob/master/lib/svgo/js2svg.js#L6 for more config options

js2svg:
  pretty: true
  indent: 2
